<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
    <body>
        {{>header}}
        <div class="aboutCard">
            <img width="100%" alt="Angad" src="/images/arthur.jpeg"/>
            <hr/>
            <h3>Angad Sandhu</h3>
            <p>Developer | Learner | Enthusiast</p>
            <blockquote>Just chill ! This is a demo app. Many more refined works to come ..</blockquote>
            <p>LinkedIn: {{linkedin}}</p>
            <p>Github: {{github}} </p>
        </div>
        {{>footer}}
    </body>
</html>