<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
    <body>
        {{>header}}
        <div class="aboutCard">
            <img width="100%" alt="Angad" src="/images/arthur.jpeg"/>
            <hr/>
            <h3>Angad Sandhu</h3>
            <p>LinkedIn: </p>
            <p>Github: </p>
        </div>
        {{>footer}}
    </body>
</html>