<html>
    <head>
        <link rel="stylesheet" href="../../public/css/styles.css"/>
    </head>
    <body>
        {{>header}}
        <h1>Welocme To The Daily Weather App</h1>
        <div>
            <label for="weatherInput">Enter Your Location</label>
            <input type="text" id="weatherInput" />
        </div>
        <div>
            <button id="searchBtn">Get Forecast</button>
        </div>
        {{results}}
    </body>
</html>