<html>
    <head>
        <link rel="stylesheet" href="public/css/styles.css"/>
    </head>
    <body>
        {{>header}}
            This app is powered by NodeJS
        {{>footer}}
    </body>
</html>